* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin: 0;
}


body {
    font-family: 'Montserat', sans-serif;
    background-color: #FFFFFF;
    color: #020817;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: auto;
    margin: auto;
}
.navbar-container {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

.navbar {
    width: 1700px;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
}

.navbar-right {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #020817;
    font-weight: bold;
    margin: 0 10px;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.hero-text {
    font-size: 2.5rem;
    font-weight: bold;
}
.hero-text span {
    color: #2563EB;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

/* .about-left {
    width: 50%;
    display: flex;
    justify-content: center;
} */

/* .about-left, .about-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.about-left {
    width: 40%; /* Fixed width for about-left */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-right {
    width: 60%; /* Remaining space for about-right */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.about-left img{
    width: 40%;
    height: auto;
    border-radius: 50%; /* Makes the image round */
    border: 5px solid #2563EB;
}





.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary {
    background-color: #2563EB;
    color: white;
}
.btn-outline {
    border: 1px solid #64748B;
    color: #020817;
}
.section {
    padding: 60px 0;
    text-align: center;
}
.skills-container, .contact-container {
    background-color: #F1F5F9;
    padding: 40px;
    border-radius: 15px;
}
.footer {
    background-color: #F1F5F9;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #64748B;
}